# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml

# Cache of project
.gradletasknamecache

# Gradle:
.idea/gradle.xml
.idea/libraries
.idea/*
# Mongo Explorer plugin:
.idea/mongoSettings.xml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.gradle
.DS_Store
build
*build
/build
*.iml
com_crashlytics_export_strings.xml
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
*.zip
*.sql
*.exe
*.dll
*.rar
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
backup
backup?
*.apk